<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				{{ theme:image file="trees.jpg" alt="Fun!" width="100%"}}
				<div class="carousel-caption">
					<h4>First Carousel Page</h4>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
			<div class="item">
				{{ theme:image file="flowers.jpg" alt="Fun!" width="100%"}}
				<div class="carousel-caption">
					<h4>Second Carousel Page</h4>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
			<div class="item">
				{{ theme:image file="sheets.jpg" alt="Fun!" width="100%"}}
				<div class="carousel-caption">
					<h4>Third Carousel Page</h4>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
		</div><!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>