
      <footer>
        <p> &copy; {{ settings:site_name }} </p>
        {{ widgets:area slug="footer" }}
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ theme:js file="jquery.js" }}
    {{ theme:js file="bootstrap-transition.js" }}
    {{ theme:js file="bootstrap-alert.js" }}
    {{ theme:js file="bootstrap-modal.js" }}
    {{ theme:js file="bootstrap-dropdown.js" }}
    {{ theme:js file="bootstrap-scrollspy.js" }}
    {{ theme:js file="bootstrap-tab.js" }}
    {{ theme:js file="bootstrap-tooltip.js" }}
    {{ theme:js file="bootstrap-popover.js" }}
    {{ theme:js file="bootstrap-button.js" }}
    {{ theme:js file="bootstrap-collapse.js" }}
    {{ theme:js file="bootstrap-carousel.js" }}
    {{ theme:js file="bootstrap-typeahead.js" }}
  </body>
</html>
